@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-gradient: linear-gradient(
    15.74deg,
    rgba(46, 45, 102, 0.6) -2.5%,
    rgba(58, 39, 63, 0.6) 47.55%,
    #181818 90.7%
  );
  --red: 252 54 76;
  --black: 13 13 13;
  --icon-white: 243 243 243;
  --white-text: 247 247 247;
  --white: 255 255 255;
  --gray-placeholder: 162 162 162;
  --gray: 142 139 143;
  --top-bar: linear-gradient(95.91deg, #665aef 6.04%, #fc364c 88.42%);
  --gray-bg: rgba(13, 13, 13, 0.5);
  --search-bar-bg: 31 31 31;
}
@layer base {
  .focus-active {
    @apply rounded-[10px] border-2 border-transparent outline-none focus:border-2 focus:border-red active:border-2 active:border-red;
  }

  .nav-link-base {
    @apply focus-active py-1 px-4 text-white hover:border-red;
  }

  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  a {
    @apply text-[15px] font-extrabold leading-5;
  }
}

@layer utilities {
}
